@import "tailwindcss";
@import "../../../packages/client/styles.css";
@config "../tailwind.config.ts";


@font-face {
  font-family: apple-garamond;
  src: url('/fonts/apple-garamond.ttf');
}

.container {
  @apply w-[90%] mx-auto
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-primary: apple-garamond;
  --font-secondary: Inter;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes horizontal_marquee {
  0% {
    transform: translateX(calc(var(--start) - var(--gap)));
  }
  100% {
    transform: translateX(calc(var(--end) - var(--gap)));
  }
}

@keyframes vertical_marquee {
  0% {
    transform: translateY(calc(var(--start) - var(--gap)));
  }
  100% {
    transform: translateY(calc(var(--end) - var(--gap)));
  }
}

.marquee_x {
  @apply h-fit w-full ![gap:var(--gap)] whitespace-nowrap overflow-hidden flex;
}

.marquee_x .marquee_content {
  @apply flex [gap:var(--gap)];
  animation: horizontal_marquee linear infinite;
  animation-duration: var(--animation-duration);
  animation-play-state: var(---play-state);
}

.marquee_y {
  @apply w-full h-[300px] ![gap:var(--gap)] whitespace-nowrap overflow-hidden flex flex-col;
}

.marquee_y .marquee_content {
  @apply flex flex-col [gap:var(--gap)];
  animation-play-state: var(---play-state);
  animation: vertical_marquee linear infinite;
  animation-duration: var(--animation-duration);
}